/* selettori helpers */
/* .col10 { width: 10%; }
.col20 { width: 20%; }
.col25 { width: 25%; }
.col30 { width: 30%; }
.col40 { width: 40%; }
.col50 { width: 50%; }
.col60 { width: 60%; }
.col70 { width: 70%; }
.col80 { width: 80%; }
.col90 { width: 90%; }
.col100 { width: 100%; }

.col {
    padding: 10px;
}

.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }

.h100 {
    height: 100%;
}
/*  */
.flex {
    display: flex;
}

.boxed {
    max-width: 1200px;
    margin: 0 auto;
}

.bg-arancio { background-color: goldenrod; }
.bg-gray { background-color: lightgray; }
.bg-blue { background-color: dodgerblue; }
.bg-pink { background-color: pink; }
.bg-darkblue { background-color: darkblue; }
.bg-violet { background-color: violet; }
.bg-green { background-color: green; }
.bg-darkgray { background-color: #23272a; }
.bg-aqua { background-color: aquamarine; } */

body {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

.containerheader {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

nav {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 3px;
}

.logo {
    width: 25%;
}

.link {
    color: white;
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.login {
    width: 25%;
    text-align: end;
    
}

#accedi {
    padding: 5px;
    border-radius: 10px;
    border: none;
}

.blue {
    padding: 50px 0px 50px 0px;
    height: 500px; 
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


.pink {
    width: 905px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titolo {
    margin: 20px;
    font-size: 25px;
    color: white;
}

.paragraf {
    padding: 0px 60px 0px 60px;
    font-size: 20px;
    color: white;
    text-align: center;
}

.download {
    width: 100%;
    justify-content: center;
    margin-top: 35px;
    font-size: 20px;
    color: white;
}

#dw {
    color: black;
    border: 1px solid white ;
    background-color: white;
    padding: 7px;
    border-radius: 15px;
    margin-right: 15px;
}

#scarica {
    color: white;
    border: 1px solid black;
    background-color: black;
    padding: 7px;
    border-radius: 15px;
}

.white {
    background-color: white;
    height: 605px;
}

.container1, .container2, .container3 {
    max-width: 1200px;
    height: 100%;
    padding: 50px 0px 50px 0px;
    margin: 0 auto;
    display: flex;
}

.box1 {
    min-height: 100%;
    width: 60%;
}

.box2 > h2 {
    font-size: 2em;
    padding: 50px 0px 0px 10px;
}

.box2 p {
    padding: 30px 0px 0px 10px;
}

.box2 {
    min-height: 100%;
    width: 20%;
    margin-left: 30px;
}

.box3 {
    min-height: 100%;
    background-color: #1e90ff;
    width: 40%;
    border: 1px dashed black;
}

.box4 {
    min-height: 100%;
    background-color: #ffc0cb;
    width: 60%;
    border: 1px dashed black;
}

.boxgrey {
    background-color: #d3d3d3;
    height: 605px;
}

.box5 {
    min-height: 100%;
    background-color: #1e90ff;
    width: 60%;
    border: 1px dashed black;
}

.box6 {
    min-height: 100%;
    background-color: #ffc0cb;
    width: 40%;
    border: 1px dashed black;
}

h3 {
    display: inline-block;
}

.fourthcontainer {
    background-color: #d3d3d3;
    height: 1000px;
}

.bigsquare {
    padding: 50px 0px 50px 0px;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.greensquare{
    min-height: 100%;
    background-color: #228b22;
    border: 1px dashed black;
}

footer {
    background-color: #23272a;
}

.boxfooter {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    padding-bottom: 40px;
    height: 630px;
}

.fathersquare {
    min-height: 100%;
    background-color: #f08080;
    width: 40%;
    border: 1px dashed black;
}

.childrensquare {
    min-height: 100%;
    width: 20%;
    background-color: #20b2aa;
    border: 1px dashed black;
}

.lastbox {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #7fffd4;
    padding: 10px 0px 10px 0px;
    margin-top: 40px;
}

.push {
    border: 1px dashed black;   
    background-color: #ff86c1;
    padding: 2px;
}

.button {
    border: 1px dashed black;
    background-color: #ff86c1;
    padding: 2px;
}